.logo
  background-image: image-url("pattern.png")
  height: 200px
  width: 100%

nav
  height: 50px
  background-color: #d2ffc5
  display: flex
  align-items: center

  a
    font-size: 18px
    font-weight: bold
    color: inherit